<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Загрузка файла</h1>
    <form enctype="multipart/form-data" method="post" action="{{ url_for('upload_page') }}">
        <label for="file">Выберите файл</label>
        <input type="file" id="file" name="file">
        <input type="submit" value="Отправить">
    </form>
</body>
</html>